@charset "UTF-8";

* {
    margin: 0;padding: 0;list-style: none;text-decoration: none;color: #333;box-sizing: border-box;
}


/* 스크롤바 */
html { 
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 8px;
    /* background-color: rgba(0, 0, 0, 1); */
    z-index: 10000;
}
html::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #e8343abe;
    border-radius: 100px;
}
html::-webkit-scrollbar-thumb:active {
    background-color: #e8343b;
}
html::-webkit-scrollbar-track {
    width: 8px;
    background-color: rgba(255, 255, 255, 1);
}


/* 폰트 */
@font-face {
    font-family: "Aero_Matics_Bold";
    src: url('../fonts/Aero-Matics-Bold.woff2') format('woff2');
    src: url('../fonts/Aero-Matics-Bold.woff') format('woff');
    src: url('../fonts/Aero-Matics-Bold.ttf') format('truetype');
    src: url('../fonts/Aero-Matics-Bold.otf') format('Opentype');
    font-weight: normal;
    font-style: normal;
}


/* wrap */
.wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


/* header */
header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
header .header_wrap {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header .header_wrap .logo{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header_wrap nav {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header_wrap nav ul{
    display: flex;
}
header .header_wrap nav ul li{
    margin: 0 20px;
}
header .header_wrap nav ul li a{}

header .header_wrap .number{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cont */
section.slick{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}
section.slick .cont{
    width: 100%;
    height: 100%;
}
section.slick .cont .cont_wrap{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    padding-top: 10%;
}

/* L/R slide button */
.button_wrap {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10000;
}
#prevArrow{ /* L */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000
}
#nextArrow{ /* R */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000
}

.slick_paging {
    /* top: 10vh;
    left: 8%; */
    z-index: 2;
}
 .slick_paging .slick-dots li {
    display: none;
    /* justify-content: space-between; */
    color: #555;
}
 .slick_paging .slick-dots li.slick-active {
    display: flex;
}
 .slick_paging .slick-dots li.slick-active span:first-of-type {
    color: #fc919b;
}
/* footer */